@import "@/styles/media.module";
@import "@/styles/colors.module";
@import "@/styles/fonts.module";

.Accept-code {
  background-color: $White;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 28px 40px;
  position: relative;
  width: 388px;

  &__input-error {
    @include h6;
    margin-top: 8px;
    max-width: 300px;
    min-height: 40px;
  }

  &__header {
    @include h2;
    margin-bottom: 20px;
  }

  &__text {
    @include h5;
  }

  &__phone {
    @include h5-bold;
    margin-left: 12px;
  }

  &__icon {
    left: 2px;
    padding: 5px;
    position: absolute;
    top: 2px;
  }

  &__button-icon {
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px;
  }

  &__form {
    &-wrapper {
      margin-top: 32px;
    }

    &-input {
      @include h5;
      max-width: 140px;
    }

    &-timer {
      @include h6;
      height: 20px;
    }


    &-button {
      margin: 8px 0;
    }
  }

  &__accept {
    display: flex;
    margin-bottom: 14px;
    margin-top: 28px;

    &-link {
      color: $Black;
      cursor: pointer;
      padding-left: 5px;
      text-decoration: none;
    }
  }
}

@media #{$mobile} {
  .Accept-code {
    padding: 40px 20px 32px;
    width: 100%;
    &__header {
      @include h2-smaller;
      margin-bottom: 8px;
    }

    &__text {
      @include h6;
    }

    &__phone {
      @include h6-bold;
      margin-left: 0;
    }

    &__input-error {
      @include h7;
      margin-top: 4px;
    }

    &__info-container {
      display: flex;
      flex-direction: column;
    }

    &__form {
      &-wrapper {
        margin-top: 20px;
      }
      &-timer {
        @include h7;
        order: 3;
      }

      &-input {
        max-width: 100%;
      }

      &-button {
        margin-bottom: 4px;
        margin-top: 6px;
      }
    }


    &__accept {
      margin-bottom: 0;
      margin-top: 20px;

      &-text {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
