@import "@/styles/media.module";
@import "@/styles/colors.module";
@import "@/styles/fonts.module";

.Login-phone {
  background-color: $White;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 auto;
  padding: 28px 40px 46px 40px;
  position: relative;
  width: 388px;

  &__title {
    @include h2;
    &-wrapper {
      max-width: 270px;
    }
  }

  &__form {
    padding-top: 28px;
  }

  &__masked {
    &-input {
      @include h5;
      margin-top: 10px;
    }

    &-label {
      @include h3-bold;
    }
  }

  &__button {
    margin-top: 20px;
  }

  &__subscription {
    @include h5;
    padding-bottom: 44px;
    &-text {
      margin-left: 8px;
    }
  }

  &__accept {
    display: flex;

    &-link {
      color: $Black;
      cursor: pointer;
      text-decoration: none;
      vertical-align: top;
    }
  }

  &__input-error {
    @include h6;
    min-height: 40px;
    padding: 8px 0;
  }
}

@media #{$mobile} {
  .Login-phone {
    padding: 40px 20px 32px;
    width: 100%;
    &__title {
      @include h2-smaller;

    }

    &__input-error {
      @include h7;
    }

    &__masked-input {
      @include h5;
      margin-top: 8px;
    }
    &__button {
      margin-top: 16px;
    }
    &__subscription {
      padding-bottom: 0;

      @include h6;
    }
    &__accept {
      margin-top: 28px;

      &-text {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
