@import "@/styles/media.module";
@import "@/styles/colors.module";

.Page {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  position: relative;
}

