@import "@/styles/keyframes.module.scss";
@import "@/styles/colors.module.scss";

@mixin White-border {
  border-bottom-color: $White;
  border-left-color: $White;
  border-top-color: $White;
}

@mixin Violet-border {
  border-bottom-color: $Violet;
  border-left-color: $Violet;
  border-top-color: $Violet;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.circular {
  animation: spin 1250ms infinite linear;
  border-right-color: transparent;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-indent: -9999;

  &.size {
    &-small {
      border-radius: 10px;
      height: 20px;
      width: 20px;
    }
    &-medium {
      border-radius: 16px;
      height: 32px;
      width: 32px;
    }
    &-large {
      border-radius: 25px;
      height: 50px;
      width: 50px;
    }
  }

  &.color {
    &-White {
      @include White-border();
    }

    &-Violet {
      @include Violet-border();
    }
  }
}
