@import "@/styles/colors.module.scss";
@import "@/styles/media.module";
@import "@/styles/variables.module.scss";

.modalPositionWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  // @include layer-full;
}
.modalContainer {
  background-color: $White;
  border-radius: 6px;
  box-shadow: 0 0 26px rgba(0, 0, 0, .19);
  max-height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 27px 40px 0 37px;
  position: relative;
}

.modalTitle {
  max-width: 90%;
  padding-bottom: 22px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
  user-select: none;
  width: 20px;
  &:focus {
    outline: 0;
  }
}

.modalButtonsContainer {
  display: flex;
}

.overlayModalContainer {
  background-color: rgba(0, 0, 0, .37);
  // opacity: .5;
  &.isTransparent {
    background-color: inherit;
  }
}

@media #{$tablet} {
  .modalContainer {
    > span {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

@media #{$mobile} {
  .modalPositionWrapper {
    max-height: 100%;
  }

  .modalContainer {
    max-height: 85vh;
    min-width: 0;
    overflow-y: auto;
  }
}

