@import "@/styles/fonts.module.scss";
@import "@/styles/colors.module.scss";

.browserLink {
  &:hover {
    color: $Violet;
  }

  &--text-with-reload {
    color: $Black;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $Violet;
      color: $Violet;
      outline: none;
    }
  }

  // &--text-without-reload{}
  // &--without-reload{}
  // &--with-reload{}
}
